.cover {
    width: 1000px;
    height: 100px;
}

.avatar {
    width: 200px;
    height: 200px;
}

.descriptionBlock {
    padding: 10px;
}

.mainPhoto {
    max-width: 200px;
}

.contact {
    padding-left: 10px;
}


